[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "~=0.9"
"psycopg2" = "~=2.7"
SQLAlchemy = "~=1.2"
flask = "~=1.0"
flask-sqlalchemy = "~=2.3"
flask-migrate = "~=2.1"
"e1839a8" = {path = ".", editable = true}
python-dotenv = "~=0.8"
elasticsearch = "~=6.2"

[dev-packages]
pylint = "~=1.9"

[requires]
python_version = "3.6"
