[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "*"
"psycopg2" = "*"
SQLAlchemy = "*"
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
"e1839a8" = {path = ".", editable = true}

[dev-packages]
pylint = "*"

[requires]
python_version = "3.6"
